# config backups
/.backup

# qtile
/qtile/.config/qtile/__pycache__

# zsh
/zsh/.config/zsh/.zcompdump

# ncspot
/ncspot/.config/ncspot/userstate.cbor

# local configs
/ghostty/.config/ghostty/local.conf
/kitty/.config/kitty/local.conf
/alacritty/.config/alacritty/local.toml
/wezterm/.config/wezterm/local.lua
