[user]
    name = Arthur McLain
    email = mclain.it@gmail.com
    signingKey = ~/.ssh/id_ed25519.pub

[init]
    defaultBranch = main

[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    # remote log diff
    rld = hist HEAD..origin/main
    root = rev-parse --show-toplevel
    undo = reset --soft HEAD^
    # update remote branch list (same as `fetch --prune`)
    urbl = remote update origin --prune
    # delete branch locally and remotely
    db = "!f() { git branch -D $1; git push origin --delete $1; }; f"

; to use `git pull` without merge commits
[pull]
    ff = only

; to forget about `git branch --set-upstream-to`
[push]
    autoSetupRemote = true

[rerere]
    enabled = true

[gpg]
    format = ssh
[gpg "ssh"]
    # INFO: don't forget to run the following before using "git commit -S"
    # echo "$(git config --get user.email) namespaces=\"git\" $(cat ~/.ssh/id_ed25519.pub)" >> ~/.ssh/allowed_signers
    allowedSignersFile = ~/.ssh/allowed_signers
