# Execute commands during the X session startup
# after the display manager authenticates the user and before the window manager

# Monitor Config
$HOME/.local/bin/monitor-layout --startup

# Sets the delay and rate for keyboard auto-repeat
xset r rate 400 25

# Eats 80% of my RAM, disabled for now
# Enable transparency and other visual effects
# picom -b

# Disable screen blanking
# xset s off && xset -dpms

# Enable notifications
# in awesomewm naughty is used; in qtile I do it elsewhere
# dunst &

# Hide mouse when typing
# xbanish &

# remap caps to another escape
# setxkbmap -option caps:escape
# swap escape and caps
# setxkbmap -option caps:swapescape

# vim:ft=conf
